:root {
    --white: #f8fafc;
    --gray-light: #797984;
    --gray-medium: #312d37;
    --black: #000;

    --purple-light: #c485e0;
    --purple-medium: #8c46ac;
    --purple-dark: #5c4681;
    --purple-darker: #3b2152;

    --color-gradient-light: linear-gradient(90deg, var(--purple-light), var(--purple-medium));

    --color-gradient-dark: linear-gradient(90deg, var(--purple-dark), var(--purple-darker));

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Nunito', sans-serif;
}

* {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: var(--color-gradient-light);

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);

    height: fit-content; /* adjust height to content */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 38px;
    gap: 30px;
}

#form-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-header h1 {
    font-family: var(--title-font);
    font-size: 26px;
    font-weight: 500;
    position: relative; 
}

#form-header h1::before {
    background-color: var(--purple-light);
    width: 40%;
    height: 3px;
    position: absolute;
    content: '';
    bottom: 5px;
    border-radius: 4px;
}

#mode-icon {
    cursor: pointer;
    font-size: 18px;
}

#list-social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#list-social-media img {
    width: 30px;
    transition: all 0.2s ease-in-out;
}

#list-social-media img:hover {
    transform: scale(1.1);
    
}

/* inputs */
#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label {
    font-size: 14px;
    color: var(--gray-medium);

}

.input-field {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: text;
    border-bottom: 1px solid var(--purple-light);
}

.input-field i {
    font-size: 18px;
    color: var(--purple-dark);
}

.input-field input {
    background-color: transparent;
    color: var(--gray-medium);
    font-size: 18px;

    width: 260px;
    border: none;
    outline: none;
    padding: 0 5px;
}

#forgot-password a {
    text-decoration: none;
    color: var(--purple-dark);
    font-size: 12px;
    display: flex;
    margin-top: 5px;
    transition: color 0.2s ease-in-out;
}

#forgot-password a:hover {
    color: var(--purple-light);
}

#login-button {
    background: var(--purple-medium);
    color: var(--white);

    border: none;
    border-radius: 6px;
    border: 1px solid transparent;

    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 500;
    
    width: 100%;
    padding: 8px;
    
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#login-button:hover {
    background: var(--purple-light);
    border: 1px solid var(--purple-light);
}